auth_enabled: false
server:
  http_listen_port: 3100
ingester:
  lifecycler:
    address: 127.0.0.1
    ring:
      kvstore:
        store: inmemory
      replication_factor: 1
  chunk_idle_period: 5m
  wal:
    dir: /loki/wal
schema_config:
  configs:
    - from: 2024-01-01
      store: boltdb-shipper
      object_store: filesystem
      schema: v13
      index:
        prefix: index_
        period: 24h
storage_config:
  boltdb_shipper:
    active_index_directory: /loki/index
    cache_location: /loki/cache
  filesystem:
    directory: /loki/chunks
limits_config:
  retention_period: 168h
chunk_store_config:
  max_look_back_period: 168h
compactor:
  working_directory: /loki/compactor
  shared_store: filesystem
table_manager:
  retention_deletes_enabled: true
  retention_period: 168h
